.main_carousel {
	padding-top: 29px;
	padding-bottom: 45px;
}

.carousel-control {
	&.left, {
		background:none;
	}
	&.right{
		@extend .left;
	}
}

.carousel-indicators {
	bottom:-44px;
	li {
		background-color:#e6e6e6;
	}
	.active {
		background-color:#999;
	}
}

.carousel-caption{
	text-transform:none;
	background-color: rgba(202, 72, 48, 0.7);
	width: 282px;
	height: 279px;
	text-align: left;
	padding: 0 24px;
	top: 0;
	left: 0;
	margin: 43px;
	margin-left: 97px;
}

@media (min-width: 768px) and (max-width: 992px) {
	.carousel-inner{
		width:100%;
		height:420px;
		
		img {
			position:relative;
			width:auto;
			left:50%;
			max-height:100%;
			margin-left:-416px;
			max-width:none;
		}
	}
}

@media (max-width: 767px) {
	.carousel-inner{
		width:100%;
		height:288px;
		
		img {
			position:relative;
			width:auto;
			left:50%;
			max-height:100%;
			margin-left:-366px;
			max-width:none;
		}
		
		.item {
			overflow:hidden;
		}
	}
	.carousel-caption {
		margin:0;
		padding:0 19px;
		width:50%;
		height:100%;
		
		h1 {
			font-size:1.5em;
		}
	} 
}

@media (min-width:684px) and (max-width: 767px){
	.carousel-inner {
		width:100%;
		height:auto;
		
		img {
			margin-left:0;
			left:0;
			width:100%;
			max-height:none;
		}
	}
}

@media (min-width:589px) and (max-width: 684px){
	.carousel-inner{
		width:100%;
		height:288px;
		
		img {
			margin-left:0;
			left:0;
			height:100%;
			max-height:100%;
		}
	}
}