// ******************
//      CONSTANTS
// ******************
$red: 	#cb4830;
$teal: 	#1b8080;
$gray: 	#666;

$page_header_logo_width: 51px;
$page_header_logo_offset: 13px;
$page_header_logo_position: $page_header_logo_width + $page_header_logo_offset;

@mixin box-shadow ($parameters) {
	-webkit-box-shadow: $parameters;
	-moz-box-shadow:    $parameters;
	box-shadow:         $parameters;
}

/**************************
   PF-SECTION STYLE SHEET
 **************************/
.hero {
	@media (min-width: 480px) {
		padding-left: $page_header_logo_position;
	}
	
	img {
		left: 0 !important;
	}
}

.pf-section {
	@media (min-width: 480px) {
		padding-left: $page_header_logo_position;
	}
	
	a {color:$red;}
	h3 {
		font-size: 1.2em;
		color: $red;
	}	
	h4 {
		color: $teal;
	}	
	h5 {
		color: $gray;
	}	
	p {
		text-transform: none;
		@media (max-width: 479px) {
			font-size:16px;
		}
	}
	p ~ img {
		width: 70%;
		@media (max-width: 479px) {
			width: 100%;
		}
	}
	
	.formula {
		width:75%;
		text-align:center;
		margin:0 auto;
		font-size:1.5em;
		background-color:$pathway-orange;
		color:white;
		padding:10px;
		@include box-shadow(7px 7px 10px rgba(50, 50, 50, 0.34));
		/* .part1 {
			color:$turquoise;
		}
		.part2 {
			color:$navy_blue;
		}
		.part3 {
			color:$red;
		} */
	}
}

.pf-page-header {
	display: table-cell;
	vertical-align: middle;
	text-transform: uppercase;
	position: relative;
	
	
	h1 {
		font-size:2.15em;
	}
	
	h2 {
		font-size:1.7em;
	}
	
	img {
		position: absolute;		
		top: 15%;
		left: -$page_header_logo_position;
		@media (max-width: 479px) {
			display:none;
		}
		max-width: $page_header_logo_width;
	}
}