// *************
//   CONSTANTS
// *************
// Colors:
$dark_gray:	#ddd;
$link_color: #fff;
$red: #cb4830;
$gray-aside:darken(#f7f7f7,10%);

// ************
//    MIXINS
// ************
@mixin backgroundColor ($isMobile:false) {
	$mobile-bg-c:#3b3b3b;
	$desktop-bg-c:#fff;
	
	@if ($isMobile == true) {
		background-color: $mobile-bg-c;
	} @else {
		background-color: $desktop-bg-c;
	}
}

// Off Canvas
// $direction: left or right
// $amount: accepts any numerical amount
@mixin offcanvas ($direction:left, $amount:0) {
	#{$direction}:$amount;
}

// Display SideBar
@mixin SB_disp ($displayState:false) {
	@if ($displayState == true) {
		display:block;
	} @else {
		display:none;
	}
}

@mixin row_offcanvas ($shift_direction, $canvas_shift_amt) {
	.row-offcanvas-#{$shift_direction} {
		&.active {
			@include offcanvas($shift_direction, $canvas_shift_amt);
			#sidebar {
				@include SB_disp(true);
			}
		}
		#sidebar {
			@include offcanvas($shift_direction, -$canvas_shift_amt);
		}
	}	
		
}

/************************
	 SIDE BAR STYLE SHEET
 ************************/
html, body { height:100%; }

body {
	position: relative;
}

.text-center { padding-top: 20px; }

.col-xs-12 { @include backgroundColor (false); }
 
.navbar-toggle {
	$direction: right;
	
	float: $direction;
	margin-#{$direction}: 10px;
} 
 
#sidebar {0
	$logo_size:45px;
	position: relative;
	background-color: $gray-aside;
	@include padding(all, 0);
	@include padding(left right, 10px);
	
	img {
		width: $logo_size;
		height: $logo_size;
	}
	
	.header {
		$offsetRatio: (1/3);
		$offset:$logo_size * $offsetRatio;
		
		@include padding(left right, $offset !important);
		@include padding(top, 80px);
		
		li {
			margin-bottom:40px;
		}	
			
		a {
			padding:10px;
			text-align:center;
			text-transform:uppercase;
			position:relative;
			background-color:#183e6b;
			color:white;
			font-size: 1.5em;
			
			img {
				position: absolute;
				@include positionOffset(top left, -$offset);
			}
		}
		
		p {
			text-transform: none;
			
			$paddingAmt:15px;	
			@include padding(top, $paddingAmt - 5px);
			@include padding(left right, $paddingAmt);
		}
	}
	
	.nav {
		.nav {
			display: none;
			// margin-bottom: 8px;
			padding-left:.8em;
		}

		li {
			// margin-bottom: 8px;
			@include padding(all, 10px 15px);
			a, a:hover, a:visited {
				@include padding(all, 0);
			}
			&.active {
				color:$red;
			
				a, a:hover, a:visited {
					color:$red;
				}
				
				.nav {
					display:block;
				}
				
				.caret {
					@include caret(true, #428bca);
				}
			
				a:hover {
					.caret {
						@include caret(true, #428bca);
					}
				}
			}
		}
				
		.caret {
			@include caret(false, #428bca);
		}
		
		a:hover {
			.caret {
				@include caret(false, #428bca);
			}
		}
	}
	
	
	#sideNav {
		width:222.5px;
		@media (max-width: 992px) {
			width: 187.5px;
			font-size:13px;
			.nav .nav {
				padding-left:0.8em;
			}
			h3 {
				font-size:20px;
			}
			img {				
				$offsetRatio: (3/4);
				$offset:$logo_size * $offsetRatio;
				width:$offset;
				height:$offset;
			}
		}
		
		&.affix {
			position: fixed;
			top:0;
		}
		
		&.affix-bottom {
			position:absolute;
			top: auto;
			bottom:200px;
		}
		
		&.affix-top {
			top:100px;
		}
	}
}

/***************
	 SIDE BAR
	 For Tablets
 ***************/

@media screen and (max-width: 767px) {

/**************
	 ROW CANVAS
 **************/
	$transition:all 0.25s ease-out;
	$canvas_shift_amt: 41.6%;

	.row-offcanvas {
		position: relative;
		-webkit-transition: $transition;
		-moz-transition: $transition;
		transition: $transition;
	}

	@include row_offcanvas(left, $canvas_shift_amt);
	@include row_offcanvas(right, $canvas_shift_amt);
	
/************
	 SIDE BAR
 ************/	
	#sidebar {
		position: absolute;
		color: $link_color;
		@include SB_disp(false);
		width: $canvas_shift_amt;
		@include backgroundColor (true);
		z-index: 1000;
		top:0;
		$paddingAmt:20px;
		@include padding(left, $paddingAmt);
		@include padding(right, $paddingAmt + floor($paddingAmt/2));

		#sideNav {
			width:100%;
			&.affix {
				position: absolute;
				width:auto;
				top: 100px;
			}
		}
				
		.nav {
			li {
				color:$dark_gray;
				background: linear-gradient(#3E3E3E, #383838);
				border-top: 1px solid #484848;
				border-bottom: 1px solid #2E2E2E;
				
				&:first-child { border-top: 0; }
				
				&:active {
					.nav { display:block; }
					a {											
						.caret {
							border-left-color: transparent;
							border-top-color: $link_color;
							border-bottom-color: $link_color;
						}
						
						&:hover, &:focus {					
							.caret {
								border-left-color: transparent;
								border-top-color: $link_color;
								border-bottom-color: $link_color;
							}
						}
					}
				}
				
				a {
					color:$dark_gray;
					img { max-width: 14px; }
					
					.caret {
						border-left-color: $link_color;
						border-top-color: transparent;
						border-bottom-color: transparent;
					}
					
					&:hover, &:focus {
						text-decoration: none;
						background: linear-gradient(#373737, #323232);
						color:$link_color;
					
						.caret {
							border-left-color: $link_color;
							border-top-color: transparent;
							border-bottom-color: transparent;
						}
					}
				}				
			}
		}
	}	
}