@charset "utf-8";
/* CSS Document */


#PathwayTuition {
	$font-color:#4f5d15;
	$table-background:#becb88;
	width:75%;
	margin:0 auto;
	margin-top:20px;
	$opacity:.1;
	
	background-color:$table-background;
	color:$font-color;
	text-align:center;
	
	caption {
		background-color:$table-background;
		color:white;
		padding:20px;
	}
	
	th {
	}
	
	tr:nth-child(odd), td:nth-child(even), th:nth-child(even) {
		text-align:center;
		color:$font-color;
		@include transparent(white, $opacity, $table-background);
	}
	
	tr:nth-child(even), td:nth-child(odd), th:nth-child(odd) {
		text-align:center;
		color:$font-color;
		@include transparent(black, $opacity, $table-background);
	}
}