@charset "utf-8";

/* CSS Document */


.pf-sidebar .nav > .active > ul { display: block; }

.pf-sidebar .nav li.active a { color: #cb4830; }

.pf-sidebar .nav .nav {
	display: none;
	margin-bottom: 8px;
}

.pf-sidebar .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid transparent;
	border-right: 0px dotted;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #000000;
}

.pf-sidebar .nav .caret {
	border-left-color: #428bca;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.pf-sidebar .nav a:hover .caret {
	border-left-color: #2a6496;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.pf-sidebar .active a .caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid #000000;
	border-right: 4px solid transparent;
	border-bottom: 0 dotted;
	border-left: 4px solid transparent;
}

.pf-sidebar .nav .active .caret {
	border-left-color: transparent;
	border-top-color: #428bca;
	border-bottom-color: #428bca;
}

.pf-sidebar .nav .active a:hover .caret {
	border-left-color: transparent;
	border-top-color: #2a6496;
	border-bottom-color: #2a6496;
}

.pf-section h3 ~ img { min-width: 70%; }

.pf-page-header {
	display: table-cell;
	vertical-align: middle;
	text-transform: uppercase;
	position: relative;
}

.pf-page-header > img {
	position: absolute;
	top: 15%;
	left: -64px;
}

.pf-section { size: 1.3em }

.pf-section h3 {
	font-size: 1.2em;
	color: #ca4830;
}

.pf-section h4 { color: #1b8080; }

.pf-section h5 { color: #666666; }

.pf-section p { text-transform: none; }

/* collapsed sidebar styles */
@media screen and (max-width: 767px) {

.pf-sidebar .nav > li:first-child { border-top: 0; }

.pf-sidebar .nav>li>a { color: #ddd; }

.pf-sidebar .nav > li > a > img { max-width: 14px; }

.pf-sidebar .nav > li > a:hover, .pf-sidebar .nav > li > a:focus {
	text-decoration: none;
	background: linear-gradient(#373737, #323232);
	color: #fff;
}

.pf-sidebar .nav .caret {
	border-left-color: #fff;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.pf-sidebar .nav a:hover .caret {
	border-left-color: #fff;
	border-top-color: transparent;
	border-bottom-color: transparent;
}

.pf-sidebar .nav .active .caret {
	border-left-color: transparent;
	border-top-color: #fff;
	border-bottom-color: #fff;
}

.pf-sidebar .nav .active a:hover .caret {
	border-left-color: transparent;
	border-top-color: #fff;
	border-bottom-color: #fff;
}
}
