/****** Header ******/

.pathway-header {
  padding: 0px;
  background-color: #f3a91e !important;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  border: none;
  z-index: 5;
  border-radius: 0;
}

#pathway-mobile-logo {
  display: block;
  position: relative;
  left: 50%;
  margin-left: -93px;
}

#pathway-logo {
  padding: 12px 0;
}

.orange-bar {
  float: none !important;
}

.navbar-brand {
  float: none;
}

.navbar {
  margin-bottom: 0;
}

.site-navigation {
  display: block;
  background: none;
  border: none;
  border-radius: 0;
  min-height: 0;
  border-bottom: #a0a0a0 solid 1px;
}

.site-navigation nav {
  max-height: none;
}

.site-navigation ul {
  float: none;
}

.site-navigation ul li {
  text-align: center;
  display: table;
  height: 70px;
  border-left: #a0a0a0 solid 1px;
  width: 20%;
}

.site-navigation ul li:first-child {
  border-left: none;
}

.site-navigation ul li.nav-1.nav_active {
  background-color: #4899a5;
}

.site-navigation ul li.nav-1.nav_active a {
  color: white !important;
}

.site-navigation ul li.nav-1 a:hover {
  background-color: #4899a5;
  color: white !important;
}

.site-navigation ul li.nav-2.nav_active {
  background-color: #da462f;
}

.site-navigation ul li.nav-2.nav_active a {
  color: white !important;
}

.site-navigation ul li.nav-2 a:hover {
  background-color: #da462f;
  color: white !important;
}

.site-navigation ul li.nav-3.nav_active {
  background-color: #7fc8b7;
}

.site-navigation ul li.nav-3.nav_active a {
  color: white !important;
}

.site-navigation ul li.nav-3 a:hover {
  background-color: #7fc8b7;
  color: white !important;
}

.site-navigation ul li.nav-4.nav_active {
  background-color: #a6bc37;
}

.site-navigation ul li.nav-4.nav_active a {
  color: white !important;
}

.site-navigation ul li.nav-4 a:hover {
  background-color: #a6bc37;
  color: white !important;
}

.site-navigation ul li.nav-5.nav_active {
  background-color: #003c6c;
}

.site-navigation ul li.nav-5.nav_active a {
  color: white !important;
}

.site-navigation ul li.nav-5 a:hover {
  background-color: #003c6c;
  color: white !important;
}

.site-navigation ul li a {
  display: table-cell;
  letter-spacing: 2px;
  color: #4d4d4d !important;
  font-weight: bold;
  font-size: 100%;
  vertical-align: middle;
  padding: 0 15px;
}

.site-navigation ul li #sub_nav {
  border-top: solid 1px #808080;
  border-bottom: solid #808080;
  text-align: center;
  height: 8px;
}

.main_toggle {
  position: absolute;
  top: -91px;
  margin: 33px;
  margin-left: 12px;
  z-index: 5;
}

@media (min-width: 768px) and (max-width: 992px) {
  .site-navigation {
    font-size: 11px;
  }

  .site-navigation ul li {
    height: 60px;
  }
}

@media (max-width: 767px) {
  .site-navigation ul {
    margin: 0px;
  }

  .site-navigation ul li {
    width: 100%;
    border: 0;
  }

  #siteNavigation {
    padding: 0;
  }

  div.pathway-header .header-column {
    width: 33.3%;
    float: left !important;
  }

  div.pathway-header .navbar-right {
    margin-top: 15.5px;
    margin-right: 12px;
  }
}

/****** Footer ******/

footer {
  line-height: 45px;
  border-top: #b3b3b3 solid 1px;
  border-radius: 0;
}

footer .navbar-nav {
  margin: 0;
}

.footer-links {
  padding: 37px 0;
}

.footer-links li {
  padding: 0 21px;
}

.footer-links li:first-child {
  border-right: solid 1px;
  padding-left: 0px;
}

/****************
   HOME CONTENT
 ****************/

body {
  text-transform: uppercase;
}

.feature1 {
  background-color: #f2aa1f;
}

.feature2 {
  background-color: #a9c038;
}

.feature3 {
  background-color: #183e6b;
}

div.feature {
  margin-bottom: 21px;
}

div.feature img {
  width: 100%;
}

.featureMaster {
  display: table;
  height: 100px;
  width: 100%;
}

.featureMaster span {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 0 22px;
  color: white;
  font-size: 1.1em;
}

.main_carousel {
  padding-top: 29px;
  padding-bottom: 45px;
}

.carousel-control.left,
.carousel-control.right {
  background: none;
}

.carousel-indicators {
  bottom: -44px;
}

.carousel-indicators li {
  background-color: #e6e6e6;
}

.carousel-indicators .active {
  background-color: #999;
}

.carousel-caption {
  text-transform: none;
  background-color: rgba(202, 72, 48, 0.7);
  width: 282px;
  height: 279px;
  text-align: left;
  padding: 0 24px;
  top: 0;
  left: 0;
  margin: 43px;
  margin-left: 97px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .carousel-inner {
    width: 100%;
    height: 420px;
  }

  .carousel-inner img {
    position: relative;
    width: auto;
    left: 50%;
    max-height: 100%;
    margin-left: -416px;
    max-width: none;
  }
}

@media (max-width: 767px) {
  .carousel-inner {
    width: 100%;
    height: 288px;
  }

  .carousel-inner img {
    position: relative;
    width: auto;
    left: 50%;
    max-height: 100%;
    margin-left: -366px;
    max-width: none;
  }

  .carousel-inner .item {
    overflow: hidden;
  }

  .carousel-caption {
    margin: 0;
    padding: 0 19px;
    width: 50%;
    height: 100%;
  }

  .carousel-caption h1 {
    font-size: 1.5em;
  }
}

@media (min-width: 684px) and (max-width: 767px) {
  .carousel-inner {
    width: 100%;
    height: auto;
  }

  .carousel-inner img {
    margin-left: 0;
    left: 0;
    width: 100%;
    max-height: none;
  }
}

@media (min-width: 589px) and (max-width: 684px) {
  .carousel-inner {
    width: 100%;
    height: 288px;
  }

  .carousel-inner img {
    margin-left: 0;
    left: 0;
    height: 100%;
    max-height: 100%;
  }
}

/**************************
   PF-SECTION STYLE SHEET
 **************************/

@media (min-width: 480px) {
  .hero {
    padding-left: 64px;
  }
}

.hero img {
  left: 0 !important;
  top: 6% !important;
}

@media (min-width: 480px) {
  .pf-section {
    padding-left: 64px;
  }
}

.pf-section a {
  color: #cb4830;
}

.pf-section h3 {
  font-size: 1.2em;
  color: #cb4830;
}

.pf-section h4 {
  color: #1b8080;
}

.pf-section h5 {
  color: #666666;
}

.pf-section p {
  text-transform: none;
}

@media (max-width: 479px) {
  .pf-section p {
    font-size: 16px;
  }
}

.pf-section p ~ img {
  width: 70%;
}

@media (max-width: 479px) {
  .pf-section p ~ img {
    width: 100%;
  }
}

.pf-section .formula {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  font-size: 1.5em;
  background-color: #f3a91e;
  color: white;
  padding: 10px;
  -webkit-box-shadow: 7px 7px 10px rgba(50, 50, 50, 0.34);
  box-shadow: 7px 7px 10px rgba(50, 50, 50, 0.34);
}

.pf-page-header {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  position: relative;
}

.pf-page-header h1 {
  font-size: 2.15em;
}

.pf-page-header h2 {
  font-size: 1.7em;
}

.pf-page-header img {
  position: absolute;
  top: 15%;
  left: -64px;
  max-width: 51px;
}

@media (max-width: 479px) {
  .pf-page-header img {
    display: none;
  }
}

.pf-page-header p {
  text-transform: none;
}

/************************
	 SIDE BAR STYLE SHEET
 ************************/

html,
body {
  height: 100%;
}

body {
  position: relative;
}

.text-center {
  padding-top: 20px;
}

.col-xs-12 {
  background-color: white;
}

.navbar-toggle {
  float: right;
  margin-right: 10px;
}

#sidebar {
  background-color: #f7f7f7;
  padding: 0;
}

#sidebar img {
  width: 45px;
  height: 45px;
}

#sidebar .header {
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 80px;
}

#sidebar .header li {
  margin-bottom: 40px;
}

#sidebar .header a {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  background-color: #183e6b;
  color: white;
  font-size: 1.5em;
}

#sidebar .header a img {
  position: absolute;
  top: -15px;
  left: -15px;
}

#sidebar .header p {
  text-transform: none;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

#sidebar .nav .nav {
  display: none;
  margin-bottom: 8px;
  padding-left: .8em;
}

#sidebar .nav li.active {
  color: #cb4830;
}

#sidebar .nav li.active a,
#sidebar .nav li.active a:hover,
#sidebar .nav li.active a:visited {
  color: #cb4830;
}

#sidebar .nav li.active .nav {
  display: block;
}

#sidebar .nav a:hover .caret {
  border-left-color: #2a6496;
  border-top-color: transparent;
  border-bottom-color: transparent;
}

#sidebar .nav .caret {
  border-top: 4px solid transparent;
  border-right: 0px dotted;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #428bca;
}

#sidebar #sideNav {
  width: 243px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 992px) {
  #sidebar #sideNav {
    width: 187.5px;
    font-size: 13px;
  }

  #sidebar #sideNav .nav .nav {
    padding-left: 0.8em;
  }

  #sidebar #sideNav h3 {
    font-size: 20px;
  }

  #sidebar #sideNav img {
    width: 33.75px;
    height: 33.75px;
  }
}

#sidebar #sideNav.affix {
  position: fixed;
  top: 0;
}

#sidebar #sideNav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 200px;
}

#sidebar #sideNav.affix-top {
  top: 0;
}

/***************
	 SIDE BAR
	 For Tablets
 ***************/

@media screen and (max-width: 767px) {
  /**************
  	 ROW CANVAS
   **************/

  .row_offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row_offcanvas .row_offcanvas-left.active {
    left: 41.6%;
  }

  .row_offcanvas .row_offcanvas-left.active #sideBar {
    display: block;
  }

  .row_offcanvas .row_offcanvas-left #sideBar {
    left: -41.6%;
  }

  .row_offcanvas .row_offcanvas-right.active {
    right: 41.6%;
  }

  .row_offcanvas .row_offcanvas-right.active #sideBar {
    display: block;
  }

  .row_offcanvas .row_offcanvas-right #sideBar {
    right: -41.6%;
  }

  /************
  	 SIDE BAR
   ************/

  #sidebar {
    color: white;
    display: none;
    width: 41.6%;
    background-color: #3b3b3b;
  }

  #sidebar .nav li {
    color: #dddddd;
    background: -webkit-gradient(linear, top left, bottom left, from(#3e3e3e), to(#383838));
    background: -webkit-linear-gradient(#3e3e3e, #383838);
    background: linear-gradient(#3e3e3e, #383838);
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
  }

  #sidebar .nav li:first-child {
    border-top: 0;
  }

  #sidebar .nav li:active .nav {
    display: block;
  }

  #sidebar .nav li:active a .caret {
    border-left-color: transparent;
    border-top-color: white;
    border-bottom-color: white;
  }

  #sidebar .nav li:active a:hover .caret,
  #sidebar .nav li:active a:focus .caret {
    border-left-color: transparent;
    border-top-color: white;
    border-bottom-color: white;
  }

  #sidebar .nav li a {
    color: #dddddd;
  }

  #sidebar .nav li a img {
    max-width: 14px;
  }

  #sidebar .nav li a .caret {
    border-left-color: white;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }

  #sidebar .nav li a:hover,
  #sidebar .nav li a:focus {
    text-decoration: none;
    background: -webkit-gradient(linear, top left, bottom left, from(#373737), to(#323232));
    background: -webkit-linear-gradient(#373737, #323232);
    background: linear-gradient(#373737, #323232);
    color: white;
  }

  #sidebar .nav li a:hover .caret,
  #sidebar .nav li a:focus .caret {
    border-left-color: white;
    border-top-color: transparent;
    border-bottom-color: transparent;
  }
}

/* CSS Document */

#PathwayTuition {
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  background-color: #becb88;
  color: #4f5d15;
  text-align: center;
}

#PathwayTuition caption {
  background-color: #becb88;
  color: white;
  padding: 20px;
}

#PathwayTuition tr:nth-child(odd),
#PathwayTuition td:nth-child(even),
#PathwayTuition th:nth-child(even) {
  text-align: center;
  color: #4f5d15;
  background: #becb88;
  /* The Fallback */
  background: rgba(255, 255, 255, 0.1);
}

#PathwayTuition tr:nth-child(even),
#PathwayTuition td:nth-child(odd),
#PathwayTuition th:nth-child(odd) {
  text-align: center;
  color: #4f5d15;
  background: #becb88;
  /* The Fallback */
  background: rgba(0, 0, 0, 0.1);
}

/* Float Clearing
 ---------------------------------------------------------------------*/

.module:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

/* float clearing for IE6 */

* html .module {
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */

* + html .module {
  min-height: 1%;
}

/* Breadcrumb Styles
 ---------------------------------------------------------------------*/

.breadCrumbHolder {
  border-bottom: #a0a0a0 solid 1px;
  background: #fff;
}

.breadCrumb {
  margin: 0 auto;
  padding: 0;
  /* float: left; */
  display: block;
  height: 30px;
  overflow: hidden;
  padding: 5px;
}

.breadCrumb ul {
  margin: 0;
  padding: 0;
  height: 30px;
  display: block;
}

.breadCrumb ul li {
  display: block;
  float: left;
  position: relative;
  height: 30px;
  overflow: hidden;
  line-height: 21px;
  margin: 0px 6px 0px 0;
  padding: 0px 10px 0px 0;
  font-size: .9167em;
  background: url(../img/Chevron.gif) no-repeat 100% 0;
}

.breadCrumb ul li.first a {
  height: 16px !important;
  text-indent: -1000em;
  width: 16px;
  padding: 0;
  margin-top: 2px;
  overflow: hidden;
  background: url(../img/IconHome.gif) no-repeat 0 0;
}

.breadCrumb ul li.first a:hover {
  background-position: 0 -16px;
}

.breadCrumb ul li.last {
  background: none;
  margin-right: 0;
  padding-right: 0;
}

.breadCrumb ul li div.chevronOverlay {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.breadCrumb ul li span {
  display: block;
  overflow: hidden;
}

.breadCrumb ul li a {
  display: block;
  position: relative;
  height: 30px;
  line-height: 21px;
  overflow: hidden;
  float: left;
}

.chevronOverlay {
  display: none;
  background: url(../img/ChevronOverlay.png) no-repeat 100% 0;
  width: 13px;
  height: 20px;
}